.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 41px 0;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  display: block;
  margin: 0 10px 0 0;
}

.logoDesc {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--gray64);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--gray64);
}

.tel {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: var(--gray64);
}
